<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="min-h-screen bg-amber-50">

<nav class="bg-amber-950 py-8 relative">
    <div class="container mx-auto flex ">
        <div class="flex grow">
            <a href="#" class="text-amber-50 text-2xl font-bold">LOGO</a>
        </div>

        <img src="iconos/menu.svg" alt="Menu" class="lg:hidden cursor-pointer" id="menu-icon">
        <div class="lg:flex hidden grow justify-between">
            <div>
                <a href="/inicio.html" class="nav-link">Inicio</a>
                <a href="/Templates/listaEventos.html" class="nav-link">Eventos</a>

                <a href="/Templates/crearEventos.html" id="navCrearEvento" class="nav-link hidden">Crear eventos</a>

                <a href="/Templates/listaUsuarios.html" id="navUsuario" class="nav-link hidden">Usuarios</a>
                <a href="/Templates/tablaEventos.html" id="navEventos" class="nav-link hidden">Gestionar eventos</a>

            </div>

            <div>
                <a href="/login.html" id="btnLogin" class="text-amber-50 border border-amber-50 py-2 px-5 rounded-lg hover:bg-amber-50 hover:text-amber-950 transition duration-300 ease-in-out lg:mr-3">Iniciar sesión</a>
                <a href="/registrar.html" id="btnRegistrar" class="text-amber-950 bg-amber-50 border border-amber-50 py-2 px-5 rounded-lg hover:bg-[#c6956e] transition duration-300 ease-in-out">Registrarse</a>

                <div id="infoUsuario" class="hidden flex items-center gap-2">
                    <i class="bi bi-person-circle text-amber-50 text-2xl"></i>
                    <span id="nombreUsuario" class="text-amber-50 font-semibold text-xl"></span>

                    <a id="btnCerrarSesion" href="/Usuarios/cerrarSesion" class="btn-cancelar px-6">
                        Cerrar sesión
                    </a>

                </div>
            </div>


        </div>


    </div>

</nav>

    <div class="container mx-auto px-3 py-5">

        <h1 class="text-4xl font-bold text-center text-amber-950 mb-10">
            Eventos disponibles
        </h1>

        <div id="listaEventos" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">

        
        </div>

    </div>

    <script src="/Scripts/funciones.js"></script>
    <script src="/Scripts/eventosScript.js"></script>

    <script src="/Scripts/funciones.js"></script>

    <script>
        configurarNavbar();
        configurarSesion();
    </script>

</body>
</html>