@import "tailwindcss";


@theme {
    /* This automatically registers the drop-shadow-blue-950 utility */
    --drop-shadow-blue-950: 0 4px 6px rgba(30, 58, 138, 0.5);
    --drop-shadow-amber-950: 0 4px 6px rgba(202, 138, 4, 0.5);
}

.color1 {background: #3b1d19;}
.color2 {background: #613730;}
.color3 {background: #905f4d;}
.color4 {background: #c6956e;}
.color5 {background: #f4d295;}

.boton1{
    @apply  w-full rounded-md py-2 font-semibold text-white transition cursor-pointer hover:bg-[#905f4d]
}

.card{
    @apply  container mx-auto min-h-screen flex flex-col items-center justify-center px-6
}

.card-header{
    @apply container w-full bg-amber-950 rounded-t-xl py-2 shadow-lg
}

.card-body{
    @apply container w-full max-w-md rounded-b-xl bg-white p-8 drop-shadow-amber-950
}

.nav-link{
    @apply text-amber-50 text-2xl font-bold lg:mr-7 hover:text-[#c6956e]
}

.icon-x{
    @apply absolute top-1/2 right-5 -translate-y-1/2 text-amber-50 text-2xl hover:text-[#905f4d] transition cursor-pointer
}

.card-large {
    @apply max-w-3xl;
}

.text-label{
    @apply block text-xl  text-gray-700 font-medium
}

.input-style {
    @apply mt-2 block w-full rounded-md border border-gray-300 px-3 py-2 focus:border-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-700
}