<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar productos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>


<body class="d-flex justify-content-center align-items-center vh-100">

    <div class="card p-4 shadow" style="width: 720px;">

        <div class="card-header shadow mb-3">
            <h1 class="text-center mb-2">Crear-Editar producto</h1>
        </div>


        <form method="post" action="/crud-producto/crear">
            <div class="mb-3">
                <label for="userInput" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="userInput" name="user">
            </div>

            <div class="mb-3">
                <label for="InputPrecio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="InputPrecio" name="password">
            </div>
            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-primary">
                    Aceptar
                </button>

                <a href="/crud-producto/listar" class="btn btn-danger">
                    Cancelar
                </a>
            </div>

        </form>
    </div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>